.example-container {
  height: 90vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;  
  justify-content: center;
  margin-top: 20px;
}

.sidenav-items {
  display: flex;
  flex-direction: column;
}

.sidenav-item {
  cursor: pointer;
  margin-bottom: 25px;
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.example-sidenav {
  padding: 20px;
}

.tabs {
  width: 100%;
}

.table-container {
  height: 500vmax;
  overflow: auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}